@* @using pustok.Models
@using pustok.Models.MVC_Pustokkk.Models
@model Category
@{
    Layout = "_AdminLayout";
}

<h2>Add Category</h2>

<form method="post">
    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Save</button>
</form> *@
