@* @using pustok.Models
@using pustok.Models.MVC_Pustokkk.Models
@model Category
@{
    Layout = "_AdminLayout";
}

<h2>Update Category</h2>

<form method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <button type="submit" class="btn btn-warning">Update</button>
</form>  *@
