@using pustok.Models
@using pustok.Models.pustok.Models

@model Category





<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Name </h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Detail</h6>





        <a asp-controller="category" asp-action="index" class="btn btn-success">Category</a>
    </div>
</div>


